working
appleseed*/sandbox
appleseed*/build
**/gafferBuild
llvm*/build-release
qt*/**/*.qm
c-blosc*/**
!c-blosc*/c-blosc*.tar.gz
boost*/bin.v2
boost*/project-config.jam
glew*/glew.pc
llvm*/utils/llvm-build/**

boost*/libs/config/checks/architecture/bin/msvc-14.0/debug/threading-multi/x86.obj.rsp
boost*/libs/config/checks/architecture/bin/msvc-14.0/debug/threading-multi/sparc.obj.rsp
boost*/libs/config/checks/architecture/bin/msvc-14.0/debug/threading-multi/power.obj.rsp
boost*/libs/config/checks/architecture/bin/msvc-14.0/debug/threading-multi/mips1.obj.rsp
boost*/libs/config/checks/architecture/bin/msvc-14.0/debug/threading-multi/arm.obj.rsp
boost*/libs/config/checks/architecture/bin/msvc-14.0/debug/threading-multi/32.obj.rsp
qt-adsk-5.6.1/Makefile
qt-adsk-5.6.1/.qmake.super