name: CI

on:
  push:
    branches:
      - '*_vs2022'
  pull_request:
    branches:
      - '*'
  release:
      types: [published]

jobs:

  buildPartOne:
    uses: ./.github/workflows/buildDependencyBatch.yml
    with:
      projectsString: --projects LibFFI TBB Python ZLib Boost Imath OpenEXR HDF5 Alembic BitstreamVera Blosc CMark PyBind11 LibJPEG-Turbo LibTIFF LibPNG OpenJPEG Expat YAML-CPP PyString Minizip OpenColorIO LibRaw PugiXML Fmt LibWebP FreeType OpenImageIO LLVM OpenShadingLanguage GLEW OpenVDB OpenSubdiv PyOpenGL Qt PySide
      intermediateArtifactOutputSuffix: partOne

  buildPartTwo:
    needs: buildPartOne
    uses: ./.github/workflows/buildDependencyBatch.yml
    with:
      # Build all projects. The cached `.digests` file prevents repeating the first set of projects.
      intermediateArtifactInputSuffix: partOne
