name: CI

on:
  push:
    branches:
      - main
      - '*_maintenance'
  pull_request:
    branches:
      - '*'
  release:
      types: [published]

jobs:

  buildPartOne:

    strategy:

      # Don't cancel other jobs in the build matrix if one job fails.
      fail-fast: false

      matrix:

        # Rather than generate all permutations of various settings,
        # we want to explicitly list each of the variants we want to
        # test. We can use `name` to declare the names of our variants,
        # and then use `include` to define their settings.

        name: [
          linux-gcc11,
          macos-arm64,
          windows,
        ]

        include:

          - name: linux-gcc11
            os: ubuntu-24.04
            publish: true
            jobs: 4
            containerImage: ghcr.io/gafferhq/build/build:4.0.0a1
            projectsString:  # Blank to build all projects.
          
          - name: macos-arm64
            os: macos-14
            publish: true
            jobs: 3
            containerImage:
            projectsString:  # Blank to build all projects.
          
          - name: windows
            os: windows-2022
            publish: false
            jobs: 4
            containerImage:
            # Something simple to start. When ready, the projects below should be included in the first job.
            projectsString: --projects GafferResources  
            # projectsString: --projects LibFFI TBB Python ZLib Boost Imath OpenEXR HDF5 Alembic BitstreamVera Blosc CMark PyBind11 LibJPEG-Turbo LibTIFF LibPNG OpenJPEG Expat YAML-CPP PyString Minizip OpenColorIO LibRaw PugiXML Fmt LibWebP FreeType OpenImageIO LLVM OpenShadingLanguage GLEW OpenVDB OpenSubdiv PyOpenGL Qt PySide

    uses: ./.github/workflows/buildDependencyBatch.yml
    with:
      name: ${{ matrix.name }}
      os: ${{ matrix.os }}
      publish: ${{ matrix.publish }}
      jobs: ${{ matrix.jobs }}
      containerImage: ${{ matrix.containerImage }}
      projectsString: ${{ matrix.projectsString }}
      intermediateArtifactOutputSuffix: ${{ matrix.projectsString && 'partOne' || '' }}

  buildPartTwo:
    strategy:
      matrix:

        name: [
              windows,
            ]

        include:
          - name: windows
            os: windows-2022
            publish: false
            containerImage:
            jobs: 4
            projectsString: --projects GafferResources  # Just verify this second job works for now.

    if: ${{ always() }}
    needs: buildPartOne
    uses: ./.github/workflows/buildDependencyBatch.yml
    with:
      name: ${{ matrix.name }}
      os: ${{ matrix.os }}
      publish: ${{ matrix.publish }}
      jobs: ${{ matrix.jobs }}
      containerImage: ${{ matrix.containerImage }}
      projectsString: ${{ matrix.projectsString }}
      intermediateArtifactInputSuffix: partOne
