name: CI

on:
  push:
    branches:
      - '*_vs2022'
  pull_request:
    branches:
      - '*'
  release:
      types: [published]

jobs:

  build:

    strategy:

      # Don't cancel other jobs in the build matrix if one job fails.
      fail-fast: false

      matrix:

        # Rather than generate all permutations of various settings,
        # we want to explicitly list each of the variants we want to
        # test. We can use `name` to declare the names of our variants,
        # and then use `include` to define their settings.

        name: [
          windows
        ]

        include:

          - name: windows
            os: windows-2022
            publish: false
            containerImage:
            jobs: 4

    runs-on: ${{ matrix.os }}

    container: ${{ matrix.containerImage }}

    env:
      DEPENDENCIES_BUILD_DIR: "./build"
    steps:

    - uses: actions/checkout@v4

    - name: Install MSVC
      run: |
        # MSVC versions later than 17.10 can't build PySide due to MSVC STL template handling changes.
        # We install the version we want and let the following `msvc-dev-cmd` step setup the environment.

        # First nuke the existing installation.
        Start-Process -Wait -PassThru -WindowStyle Hidden -FilePath "C:\Program Files (x86)\Microsoft Visual Studio\Installer\InstallCleanup.exe" -ArgumentList "-f"

        curl.exe -L --output vs_buildtools.exe --url https://aka.ms/vs/17/release.ltsc.17.10/vs_buildtools.exe

        $componentsToInstall = @(
            "Microsoft.VisualStudio.Component.VC.Tools.x86.x64"
            "Microsoft.VisualStudio.Workload.VCTools"
            "Microsoft.VisualStudio.Component.VC.CMake.Project"
            "Microsoft.VisualStudio.Component.VC.ATL"
        )
        [string]$workloadArgs = $componentsToInstall | ForEach-Object {" --add " + $_}
        $arguments = ("--quiet", "--wait", "--norestart", "--nocache", $workloadArgs)
        Start-Process -Wait -FilePath vs_buildtools.exe -ArgumentList $arguments

        curl.exe -L --output winsdksetup.exe --url https://download.microsoft.com/download/9/7/9/97982c1d-d687-41be-9dd3-6d01e52ceb68/windowssdk/winsdksetup.exe
        Start-Process ./winsdksetup.exe -ArgumentList "/Features OptionId.DesktopCPPx64 /Quiet /NoRestart" -NoNewWindow -Wait
      shell: pwsh
      if: runner.os == 'Windows'

    - uses: ilammy/msvc-dev-cmd@0b201ec74fa43914dc39ae48a89fd1d8cb592756 # v1.13.0
      with:
        sdk: 10.0.20348.0
        vsversion: '2022'
        toolset: '14.40'  # Toolset corresponding to VS 17.10

    - name: Install toolchain (Linux)
      run: |
        # The Docker container configures bash shells such that they enable the
        # software collections we want. If we could set GitHub's
        # `defaults.run.shell` to `bash` then all our build steps would pick up
        # this environment automatically. But we can't do that because it will
        # break future Windows builds, and we can't configure a different shell
        # per platform because GitHub won't allow it. But we can run _this_
        # Linux-only step in bash, and transfer the environment out to be used
        # in later steps.
        echo $PATH > $GITHUB_PATH
        echo LD_LIBRARY_PATH=$LD_LIBRARY_PATH >> $GITHUB_ENV
      shell: bash
      if: runner.os == 'Linux'

    - name: Install toolchain (macOS)
      run: |
        # Choose the earliest Xcode version available on a macos-14 runner.
        sudo xcode-select -s /Applications/Xcode_14.3.1.app/Contents/Developer
        # Install build requirements.
        sudo pip3 install scons==4.6.0 --break-system-packages
        brew install gpatch
        brew install bison
        # Make sure bison is discoverable.
        echo BISON_ROOT=/opt/homebrew/opt/bison >> $GITHUB_ENV
        # Make the location of the macOS platform SDK obvious to CMake.
        # OpenShadingLanguage needs a little extra help finding `cstddef`.
        echo SDKROOT=`xcrun --sdk macosx --show-sdk-path` >> $GITHUB_ENV
        # Remove CommandLineTools so there is no potential for conflict with
        # our selected Xcode version.
        sudo rm -rf /Library/Developer/CommandLineTools
        sudo rm -rf /Applications/Python\ 3.10
        # Remove little-cms2 to prevent our LibRaw builds from finding it.
        brew uninstall --ignore-dependencies little-cms2
      shell: bash
      if: runner.os == 'macOS'

    - name: Install toolchain (Windows)
      run: |
        # Required msys2 packages.
        /c/msys64/usr/bin/pacman -S autoconf bison flex make nasm patch unzip wget --noconfirm
        echo "C:/msys64/usr/bin" >> $GITHUB_PATH
  
        # JOM, for Qt
        /c/msys64/usr/bin/wget http://download.qt.io/official_releases/jom/jom.zip
        /c/msys64/usr/bin/unzip jom.zip -d /c/jom
        echo "C:/jom" >> $GITHUB_PATH

        # Doxygen
        /c/msys64/usr/bin/wget https://www.doxygen.nl/files/doxygen-1.14.0-setup.exe
        ./doxygen-1.14.0-setup.exe //VERYSILENT

        # The Windows build runner currently uses Python 3.9.13, which has an old version
        # of `setuptools` which will fail to build PySide. Upgrade to get the latest as of
        # the time of this commit.
        pip install --upgrade setuptools==80.9.0

        pip install scons==4.6.0

      shell: bash
      if: runner.os == 'Windows'

    - name: Set BUILD_DIR (Windows)
      run: |
        import os
        with open( os.environ["GITHUB_ENV"], "a" ) as f :
          f.write( "ROOT_DIR={}\n".format( os.getcwd() ) )

      shell: python
      if: runner.os == 'Windows'

    - name: 'Install Python Modules'
      run: |
        python --version
        pip install PyJWT==1.7.1 PyGitHub==1.45

    - name: Set Custom Variables
      run: |
        .github/workflows/main/setBuildVars.py
      env:
        GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        DEPENDENCIES_BUILD_VARIANT: ${{ matrix.name }}
      shell: bash

    - name: Build Dependencies
      run: |
        python build.py --jobs ${{ matrix.jobs }} --buildDir ${{ env.DEPENDENCIES_BUILD_DIR }}/${{ env.DEPENDENCIES_BUILD_NAME }} --package ${{ env.DEPENDENCIES_BUILD_NAME }}.${{ env.PACKAGE_EXTENSION }}
      env:
        PYTHONUTF8: 1

    - uses: actions/upload-artifact@v4
      with:
        name: ${{ env.DEPENDENCIES_BUILD_NAME }}
        path: ${{ env.DEPENDENCIES_BUILD_NAME }}.${{ env.PACKAGE_EXTENSION }}
        # Using compression-level 0 avoids compressing our already compressed
        # package and results in a significantly faster upload.
        compression-level: 0
      if: matrix.publish

    - name: Publish Release
      run: |
        python ./.github/workflows/main/publishRelease.py --archive ${{ env.DEPENDENCIES_BUILD_NAME }}.${{ env.PACKAGE_EXTENSION }} --repo ${{ github.repository }} --releaseId ${{ env.DEPENDENCIES_GITHUB_RELEASEID }}
      if: matrix.publish && env.DEPENDENCIES_GITHUB_RELEASEID != ''
      env:
        GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
